body {
  background-color: #31C8F6;
}

.Center {
  max-width: 350px;
  margin: auto;
}

.Form {
  font-family: 'Cabin', sans-serif;
  color: white;
  font-size: 40px;
  display: inline;
}

.Values {
  font-family: 'Cabin', sans-serif;
  color: white;
  font-size: 40px;
  padding-left: 75px;
}

.Note {
  font-family: 'Cabin', sans-serif;
  display: inline;
  font-size: 30px;
}


@media (max-width: 500px) {

  .Center {
    max-width: 80%;
    margin: auto;
  }

  .Form {
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 40px;
  }

  .Values {
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 4  0px;
    padding-left: 20%;
  }
}
